/* style.css */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.animate-fadeIn.delay-2s {
  animation-delay: 2s;
}

.animate-slideIn {
  animation: slideIn 1s ease-in-out;
}

.all {
  font-family: "Poppins", sans-serif;
}
